<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Table with sortable and pagination</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .main-container {
            width: 800px;
            margin: 0 auto;
            padding-top: 40px;
        }

        li.active button,
        li.active:hover button {
            color: #fff !important;
            cursor: default  !important;
            background-color: #337ab7 !important;
            border-color: #337ab7 !important;
        }

        .my-table th {
            -moz-user-select: -moz-none;
            -o-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="main-container" ng-app="myApp" ng-init="initData={maxRows: 1200, countRows: 10, activePage: 0}">
    <div ng-controller="mainCtrl">
        <div>
            <table class="table table-striped my-table">
                <thead>
                    <tr>
                        <th ng-repeat="item in thead" ng-click="sort(item.value)">{{ item.text }}
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up': sortRows[item.value] != true, 'glyphicon-chevron-down': sortRows[item.value] == true}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in activeRows">
                        <td>{{ row.fname }}</td>
                        <td>{{ row.lname }}</td>
                        <td>{{ row.address }}</td>
                        <td>{{ row.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination" ng-repeat="row in arrPages">
                    <li class="{{ row.isActive }}"><button class="btn btn-default" ng-disabled='row.isDisable == true' href="#" ng-click="setPageNumb(row.value)">{{ row.text }}</button></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);

    app.controller('mainCtrl', function($scope, dataStore){
        var thatScope = $scope;
        thatScope.dataStore = dataStore;
        dataStore.init(thatScope.initData);
        thatScope.activeRows = dataStore.getData(thatScope.initData.activePage, true);
        thatScope.arrPages = dataStore.getArrPages();
        thatScope.sortASC = true;
        thatScope.sortRows = {'fname': true, 'lname': true, 'address': true, 'email': true};
        thatScope.thead = [
            {value: 'fname', text: 'First Name'},
            {value: 'lname', text: 'Last Name'},
            {value: 'address', text: 'Address'},
            {value: 'email', text: 'Email'}
        ];

        thatScope.isSortASC = function () {
            var temp = thatScope.sortRows;
            thatScope.sortASC = temp['fname'] && temp['lname'] && temp['address'] && temp['email'];
        };

        thatScope.setPageNumb = function(page) {
            thatScope.activeRows = dataStore.getData(page, thatScope.sortASC);
            thatScope.arrPages = dataStore.getArrPages();
        };

        thatScope.sort = function(colName) {
            if( 'undefined' == typeof thatScope.sortRows[colName] ) return false;
            for (var key in thatScope.sortRows) {
                if (key == colName) continue;
                thatScope.sortRows[key] = true;
            }
            thatScope.sortRows[colName] = !thatScope.sortRows[colName];
            thatScope.isSortASC();
            thatScope.setPageNumb();
        };
    });

    app.factory('dataStore', function () {
        function FakeData() {
            this._maxRows = null;
            this._activePage = null;
            this._numbOfPageRows = null;
            this._numbPages = null;
            this._sortASC = true;
            this._arrPages = [];
        }
        FakeData.prototype.init = function(initData) {
            if ( 'undefined' == typeof initData
                    || 'undefined' == typeof initData.maxRows
                    || 'undefined' == typeof initData.activePage
                    || 'undefined' == typeof initData.countRows ) {
                console.log('Sorry, but Init Data is wrong!');
                return false;
            }
            this._maxRows = initData.maxRows;
            this._activePage = initData.activePage;
            this._numbOfPageRows = initData.countRows;
            this._numbPages = Math.ceil(initData.maxRows / initData.countRows) - 1;
        };
        FakeData.prototype.getData = function(numbPage, isSortASC) {
            if ('undefined' == typeof numbPage) {
                numbPage = this._activePage;
            }
            if ('undefined' != typeof isSortASC) {
                this._sortASC = isSortASC;
            } else {
                this._sortASC = true;
            }
            this._activePage = numbPage;
            return this._generateData();
        };
        FakeData.prototype._generateData = function() {
            var startRow = !this._sortASC
                            ? this._maxRows - this._activePage * this._numbOfPageRows
                            : this._activePage * this._numbOfPageRows,
                    maxPageRows = this._numbOfPageRows,
                    returnData = [];

            for(var i = 0; i < maxPageRows; i++ ) {
                var k = !this._sortASC
                        ? startRow - i
                        : startRow + i + 1;
                if (this._maxRows < k || k <= 0) continue;
                returnData[i] = {
                    'fname': 'firstname' + k,
                    'lname': 'lastname' + k,
                    'address': 'address' + k,
                    'email': 'email' + k + '@example.com'
                }
            }

            return returnData;
        };

        // Pagination
        FakeData.prototype.getArrPages = function() {
            this._arrPages = [];
            var aPage = this._activePage,
                    textPage = aPage + 1;

            if (this._isFirstActivePage()) {
                this._setRow4Arr(0, 'First', false, true);
                this._setRow4Arr(0, 'Prev', false, true);
            } else {
                this._setRow4Arr(0, 'First');
                this._setRow4Arr(aPage - 1, 'Prev');

                if (this._isFirstActivePage(aPage - 1)) { // If active page is second
                    this._setRow4Arr(0, 1);
                } else { // Else
                    this._setRow4Arr(aPage - 2, textPage - 2);
                    this._setRow4Arr(aPage - 1, textPage - 1);
                }
            }

            this._setRow4Arr(aPage, textPage, true, true);

            if (this._isLastActivePage()) {
                this._setRow4Arr(false, 'Next', false, true);
                this._setRow4Arr(false, 'Last', false, true);
            } else {
                if (this._isLastActivePage(aPage + 1)) { // If active page is pre-last
                    this._setRow4Arr(aPage + 1, textPage + 1);
                } else { // Else
                    this._setRow4Arr(aPage + 1, textPage + 1);
                    this._setRow4Arr(aPage + 2, textPage + 2);
                }

                this._setRow4Arr(aPage + 1, 'Next');
                this._setRow4Arr(this._numbPages, 'Last');
            }

            return this._arrPages;
        };
        FakeData.prototype._setRow4Arr = function( value, text, isActive, isDisable ) {
            if ('undefined' == typeof isActive) isActive = false;
            if ('undefined' == typeof text) text = value;
            if ('undefined' == typeof isDisable) isDisable = false;

            this._arrPages[this._getCountArr()] = {
                value: value,
                text: text,
                isActive: isActive ? "active" : "",
                isDisable: isDisable
            };
        };
        FakeData.prototype._getCountArr = function() {
            return this._arrPages.length;
        };
        FakeData.prototype._isFirstActivePage = function( numb ) {
            if ('undefined' != typeof numb) {
                return numb == 0;
            } else {
                return this._activePage == 0;
            }
        };
        FakeData.prototype._isLastActivePage = function( numb ) {
            if ('undefined' != typeof numb) {
                return numb == this._numbPages;
            } else {
                return this._activePage == this._numbPages;
            }
        };

        return new FakeData();
    });
</script>
</body>
</html>